﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="~/Home/Index"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
    

    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Enfermeiros</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Nurses/Index">Listar Enfermeiros</a></li>
            <li><a href="~/Nurses/Create">Cadastrar Enfermeiros</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-id-card-o"></i> <span>Médicos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Doctors/Index">Listar Médicos</a></li>
            <li><a href="~/Doctors/Create">Cadastrar Médicos</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-blind"></i> <span>Pacientes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Patients/Index">Listar Pacientes</a></li>
            <li><a href="~/Patients/Create">Cadastrar Pacientes</a></li>
        </ul>
    </li>

    <li><a href="~/Home/Privacy"><i class="fa fa-gears"></i> <span>Sobre</span></a></li>

</ul>