@{
    //ViewData["Title"] = "Home Page";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Status dos pacientes</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->
    <div class="row">
        <div class="col-md-6">

            <!-- Paciente 01 -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Paciente 01</h3>

                    <div class="box-tools pull-right">
                        Real time
                        <div class="btn-group" id="realtime01" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="interactive01" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas><div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; max-width: 97px; top: 282px; left: 21px; text-align: center;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; max-width: 97px; top: 282px; left: 123px; text-align: center;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; max-width: 97px; top: 282px; left: 227px; text-align: center;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; max-width: 97px; top: 282px; left: 332px; text-align: center;" class="flot-tick-label tickLabel">30</div><div style="position: absolute; max-width: 97px; top: 282px; left: 437px; text-align: center;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; max-width: 97px; top: 282px; left: 541px; text-align: center;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; max-width: 97px; top: 282px; left: 646px; text-align: center;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; max-width: 97px; top: 282px; left: 751px; text-align: center;" class="flot-tick-label tickLabel">70</div><div style="position: absolute; max-width: 97px; top: 282px; left: 855px; text-align: center;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; max-width: 97px; top: 282px; left: 960px; text-align: center;" class="flot-tick-label tickLabel">90</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; top: 269px; left: 13px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 215px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 161px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 108px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; top: 54px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; top: 1px; left: 1px; text-align: right;" class="flot-tick-label tickLabel">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas></div>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.Paciente 01 -->
            <!-- Paciente 02 -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Paciente 02</h3>

                    <div class="box-tools pull-right">
                        Real time
                        <div class="btn-group" id="realtime02" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="interactive02" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas><div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; max-width: 97px; top: 282px; left: 21px; text-align: center;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; max-width: 97px; top: 282px; left: 123px; text-align: center;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; max-width: 97px; top: 282px; left: 227px; text-align: center;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; max-width: 97px; top: 282px; left: 332px; text-align: center;" class="flot-tick-label tickLabel">30</div><div style="position: absolute; max-width: 97px; top: 282px; left: 437px; text-align: center;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; max-width: 97px; top: 282px; left: 541px; text-align: center;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; max-width: 97px; top: 282px; left: 646px; text-align: center;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; max-width: 97px; top: 282px; left: 751px; text-align: center;" class="flot-tick-label tickLabel">70</div><div style="position: absolute; max-width: 97px; top: 282px; left: 855px; text-align: center;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; max-width: 97px; top: 282px; left: 960px; text-align: center;" class="flot-tick-label tickLabel">90</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; top: 269px; left: 13px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 215px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 161px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 108px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; top: 54px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; top: 1px; left: 1px; text-align: right;" class="flot-tick-label tickLabel">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas></div>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.Paciente 02 -->

        </div>
        <!-- /.col -->

        <div class="col-md-6">

            <!-- Paciente 03 -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Paciente 03</h3>

                    <div class="box-tools pull-right">
                        Real time
                        <div class="btn-group" id="realtime03" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="interactive03" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas><div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; max-width: 97px; top: 282px; left: 21px; text-align: center;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; max-width: 97px; top: 282px; left: 123px; text-align: center;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; max-width: 97px; top: 282px; left: 227px; text-align: center;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; max-width: 97px; top: 282px; left: 332px; text-align: center;" class="flot-tick-label tickLabel">30</div><div style="position: absolute; max-width: 97px; top: 282px; left: 437px; text-align: center;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; max-width: 97px; top: 282px; left: 541px; text-align: center;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; max-width: 97px; top: 282px; left: 646px; text-align: center;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; max-width: 97px; top: 282px; left: 751px; text-align: center;" class="flot-tick-label tickLabel">70</div><div style="position: absolute; max-width: 97px; top: 282px; left: 855px; text-align: center;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; max-width: 97px; top: 282px; left: 960px; text-align: center;" class="flot-tick-label tickLabel">90</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; top: 269px; left: 13px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 215px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 161px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 108px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; top: 54px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; top: 1px; left: 1px; text-align: right;" class="flot-tick-label tickLabel">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas></div>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.Paciente 03 -->
            <!-- Paciente 04 -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Paciente 04</h3>

                    <div class="box-tools pull-right">
                        Real time
                        <div class="btn-group" id="realtime04" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="interactive" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas><div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; max-width: 97px; top: 282px; left: 21px; text-align: center;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; max-width: 97px; top: 282px; left: 123px; text-align: center;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; max-width: 97px; top: 282px; left: 227px; text-align: center;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; max-width: 97px; top: 282px; left: 332px; text-align: center;" class="flot-tick-label tickLabel">30</div><div style="position: absolute; max-width: 97px; top: 282px; left: 437px; text-align: center;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; max-width: 97px; top: 282px; left: 541px; text-align: center;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; max-width: 97px; top: 282px; left: 646px; text-align: center;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; max-width: 97px; top: 282px; left: 751px; text-align: center;" class="flot-tick-label tickLabel">70</div><div style="position: absolute; max-width: 97px; top: 282px; left: 855px; text-align: center;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; max-width: 97px; top: 282px; left: 960px; text-align: center;" class="flot-tick-label tickLabel">90</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><div style="position: absolute; top: 269px; left: 13px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 215px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 161px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 108px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; top: 54px; left: 7px; text-align: right;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; top: 1px; left: 1px; text-align: right;" class="flot-tick-label tickLabel">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1069px; height: 300px;" width="1069" height="300"></canvas></div>
                </div>
                <!-- /.box-body-->
            </div>
            <!-- /.Paciente 04 -->

        </div>
        <!-- /.col -->
    </div>



</section>

