@{
//ViewData["Title"] = "Home Page";
}

<section class="content-header">
    <h1>
        Página Home
        <small>Opcional Conteúdo</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->
</section>